body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

body.dark {
    background-color: black;
}

img {
    color: white;
}
span {
    width: 30px;
    height: 30px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

h1.dark {
    color: white;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 40px;
}

form input {
    border-radius: 20px;
    width: 200px;
    height: 35px;
    margin-right: 20px;
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.btn-filter {
    margin: 10px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.task-label {
    margin-left: 10px;
    margin-right: 10px;
}

.task-group {
    list-style-type: none;
}

.task-group.dark {
    color: white;
}

.label-trash {
    font-size: 30px;
    color: red;
    font-weight: 700;
}

.btn {
    border-radius: 20px;
    border: none;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgb(98, 141, 161);
    color: white;
    font-size: 18px;
} 

.active {
    color: black;
    background-color: rgb(145, 201, 226);
}

.btn:hover {
    background-color: rgb(145, 201, 226);
    color: black;
}

.toggle-mode {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: black;
}

.toggle-mode.dark {
    background-color: white;
}